<div >
    <div class="d-flex justify-content-center">
      <div id = "card" class="card " style="max-width: 1040px;">
          <div class="row g-0">
            <div class="d-flex justify-content-center col-md-4">
              <img src="../static/images/aeg.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Overview</h5>
                <p class="card-text">The AEG Student Chapter  focuses on practical learning in every webinar, ensuring students gain useful skills. Each session is designed to provide hands-on insights, turning theoretical knowledge into practical expertise. The AEG Student Chapter is an opportunity hub, connecting students with industry experts and offering a platform for professional growth. In the realm of exploration geophysics, this student chapter stands as a catalyst for transforming theoretical knowledge into real-world expertise.</p>
                <h5 class="card-title">Headquarters</h5>
                <p class="card-text">Dhanbad, Jharkhand</p>
              </div>
            </div>
          </div>
        </div>
        {% block news %}
        {% endblock %}
    </div>