<div class = "d-flex justify-content-evenly flex-column " >
  <div class="d-inline-flex justify-content-evenly flex-row flex-wrap" id = "mem" style="margin: 20px 150px; border: 0px solid rgb(181 0 51 / 84%); border-radius: 5px;padding: 10px 50px;">
    {% for pos in deg %}
      <div class="card col-sm-6 m-2" style="border: 1px solid rgb(181 0 51 / 84%); width: 18rem;">
          <img src="../static/images/members/{{profile[pos]['name']}}.jpg" id= "member" class="card-img-top "  alt="...">
          <div class="card-body">
            <h5 class="card-title">{{profile[pos]['f_name']}}</h5>
            <p class="card-text">{{profile[pos]['position']}}</p>
            <a href="{{profile[pos]['profile']}}" target="_blank" id = "butt" class="btn btn-primary ">Profile</a>
          </div>
        </div>
        <br>
        {% endfor %}
</div>
<div class="d-flex justify-content-center">
        
    <div class="heading d-inline-flex p-2" style="border-radius:5px">Core Team Members</div>
</div>
<!--core-->

<div class = "d-flex justify-content-evenly flex-column " >
  <div class="d-inline-flex justify-content-evenly flex-row flex-wrap" id = "mem" style="margin: 20px 150px; border: 0px solid rgb(181 0 51 / 84%); border-radius: 5px;padding: 10px 50px;">
    {% for pos in core %}
      <div class="card col-sm-6 m-2" style="border: 1px solid rgb(181 0 51 / 84%); width: 18rem;">
          <img src="../static/images/members/{{profile[pos]['name']}}.jpg" id= "member" class="card-img-top "  alt="...">
          <div class="card-body">
            <h5 class="card-title">{{profile[pos]['f_name']}}</h5>
            <p class="card-text">{{profile[pos]['position']}}</p>
            <a href="{{profile[pos]['profile']}}" target="_blank" id = "butt" class="btn btn-primary ">Profile</a>
          </div>
        </div>
        <br>
        {% endfor %}
</div>
<div class="d-flex justify-content-center">
        
  <div class="heading d-inline-flex p-2" style="border-radius:5px">Extended Team Members</div>
</div>
<div class = "d-flex justify-content-evenly flex-column " >
  <div class="d-inline-flex justify-content-evenly flex-row flex-wrap" id = "mem" style="margin: 20px 150px; border: 0px solid rgb(181 0 51 / 84%); border-radius: 5px;padding: 10px 50px;">
    {% for pos in web %}
      <div class="card col-sm-6 m-2" style="border: 1px solid rgb(181 0 51 / 84%); width: 18rem;">
          <img src="../static/images/members/{{profile[pos]['name']}}.jpg" id= "member" class="card-img-top "  alt="...">
          <div class="card-body">
            <h5 class="card-title">{{profile[pos]['f_name']}}</h5>
            <p class="card-text">{{profile[pos]['position']}}</p>
            <a href="{{profile[pos]['profile']}}" target="_blank" id = "butt" class="btn btn-primary ">Profile</a>
          </div>
        </div>
        <br>
        {% endfor %}
</div>
<div class = "d-flex justify-content-evenly flex-column " >
  <div class="d-inline-flex justify-content-evenly flex-row flex-wrap" id = "mem" style="margin: 20px 150px; border: 0px solid rgb(181 0 51 / 84%); border-radius: 5px;padding: 10px 50px;">
    {% for pos in design %}
      <div class="card col-sm-6 m-2" style="border: 1px solid rgb(181 0 51 / 84%); width: 18rem;">
          <img src="../static/images/members/{{profile[pos]['name']}}.jpg" id= "member" class="card-img-top "  alt="...">
          <div class="card-body">
            <h5 class="card-title">{{profile[pos]['f_name']}}</h5>
            <p class="card-text">{{profile[pos]['position']}}</p>
            <a href="{{profile[pos]['profile']}}" target="_blank" id = "butt" class="btn btn-primary ">Profile</a>
          </div>
    
  </div>
  <br>
  {% endfor %}
</div>
<div class = "d-flex justify-content-evenly flex-column " >
  <div class="d-inline-flex justify-content-evenly flex-row flex-wrap" id = "mem" style="margin: 20px 150px; border: 0px solid rgb(181 0 51 / 84%); border-radius: 5px;padding: 10px 50px;">
    {% for pos in content %}
      <div class="card col-sm-6 m-2" style="border: 1px solid rgb(181 0 51 / 84%); width: 18rem;">
          <img src="../static/images/members/{{profile[pos]['name']}}.jpg" id= "member" class="card-img-top "  alt="...">
          <div class="card-body">
            <h5 class="card-title">{{profile[pos]['f_name']}}</h5>
            <p class="card-text">{{profile[pos]['position']}}</p>
            <a href="{{profile[pos]['profile']}}" target="_blank" id = "butt" class="btn btn-primary ">Profile</a>
          </div>
        </div>
        <br>
        {% endfor %}
</div>
